<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h4>Swachh Bharat</h4><a href="http://swachbharat.herokuapp.com">
                        <hr>
                        <img src="img/portfolio/swach1.png" class="img-responsive img-centered" alt="">
                        </a>
                        
                        <p>This is a platform where people can clean the places and friends can also join as a team,challenge others!!</p>
                       
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-arrow-circle-left"></i> Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h4>Personal Portfolio</h4>
                        <hr>
                        <img src="img/portfolio/screenshotp.png" class="img-responsive img-centered" alt="">
                        <p> Created my own personal website which includes my projects and skills using Html,Css,Javascript and Bootstrap.  </p>
                        
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-arrow-circle-left"></i> Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        
        
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h4>Google Page</h4>
                        <hr class="star-primary">
                        <img src="img/portfolio/Screenshot goo.png" class="img-responsive img-centered" alt="">
                        <p>Created a Google page and learned bootstrap.</p>
                     
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-arrow-circle-left"></i> Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
