<section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>PROJECTS</h2>
                        
                    </div>
                </div>
                
                <div class="row image">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/swach.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/portfolio.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/go.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    
                </div>
            </div>
        </section>
        <section id="skills">
            <div class="container skills">
             
              <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>SKILLS</h2>
                    
                </div>
                <div class="col-md-6 span3">
                  <div class="ps">
                    <img src="img/portfolio/html5.png"alt ="">
                  </div>
                </div>
                <div class="col-md-6 span5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                  <h3>html5<span>90%</span></h3>
                  <div class="expand-bg"> <span class="expand ps2"> </span> </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 span3">
                  <div class="ai">
                   <img src="img/portfolio/css3.png"alt ="">
                  </div>
                </div>

                <div class="col-md-6 span5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                  <h3>css3<span>90%</span></h3>
                  <div class="expand-bg"> <span class="expand ai2"> </span> </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 span3">
                  <div class="html">
                    <img src="img/portfolio/js.jpg"alt ="">
                  </div>
                </div>
                <div class="col-md-6 span5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                  <h3>Java Script<span>80%</span></h3>
                  <div class="expand-bg"> <span class="expand html2"></span> </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 span3">
                  <div class="css">
                    <img src="img/portfolio/ruby.png"alt ="">
                  </div>
                </div>
                <div class="col-md-6 span5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                  <h3>Ruby <span>75%</span></h3>
                  <div class="expand-bg"> <span class="expand css2"></span> </div>
                </div>
              </div>
            
              <div class="row">
                <div class="col-md-6 span3">
                  <div class="rails">
                    <img src="img/portfolio/rails.png"alt ="" style=max-width:83%>
                  </div>
                </div>
                <div class="col-md-6 span5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                  <h3>Rails <span>75%</span></h3>
                  <div class="expand-bg"> <span class="expand rails2"></span> </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 span3">
                  <div class="testing">
                    <img src="img/portfolio/testing.png"alt ="" style=max-width:100%>
                  </div>
                </div>
                <div class="col-md-6 span5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                  <h3>Testing <span>90%</span></h3>
                  <div class="expand-bg"> <span class="expand testing2"></span> </div>
                </div>
              </div>
            </div>
            
        </section>
                        